/* src/assets/style/Pagination.css */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination span {
  margin: 0 10px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
}
